#api {
    background: white;
    border-radius: 4px;
    left: 50%;
    padding: 48px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 374px;
}

#cancel {
    display: none;
    margin-right: 24px;
}

#email_label {
    display: none;
}

#email_ver_but_resend {
    border-radius: 4px;
    display: inline;
    font-weight: 600;
    height: auto;
    margin: 0 auto !important;
    padding: 4px 8px;
    text-decoration: none;
}

#email_ver_but_send {
    background: #0E5DF9;
    border-color: #0E5DF9;
    color: white;
    margin: 48px auto 0 auto;
    width: fit-content;
}

#email_ver_but_send:hover {
    background: #0c4cc8;
}

#email_ver_but_verify {
    background: #0E5DF9;
    border-color: #0E5DF9;
    color: white;
    margin: 32px auto 0 auto;
    width: fit-content;
}

#email_ver_but_verify:hover {
    background: #0c4cc8;
}

#email_ver_input_label {
    display: none !important;
}

#forgotPassword {
    border-radius: 4px;
    font-weight: 600;
    margin-right: 0 !important;
    padding: 4px 8px;
    text-decoration: none;
}

#newPassword_label {
    display: none !important;
}

#reenterPassword_label {
    display: none !important;
}

#signInName_label {
    display: none;
}

#simplemodal-container {
    display: none !important;
}

#simplemodal-overlay {
    background: white !important;
    height: 100vh;
    left: 0;
    opacity: 1 !important;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 1001;
}

.Password {
    margin-bottom: 16px;
}

.TextBox {
    display: block;
}

.back-button, #forgotPassword, #email_ver_but_resend {
    background: white;
    border: none;
    color: #0E5DF9;
    margin-right: 24px;
}

.back-button-text {
    display: grid;
    grid-template-columns: auto auto;
}

.back-button:hover, #forgotPassword:hover, #email_ver_but_resend:hover {
    background: #E6EEFE;
}

.back-icon {
    font-size: 20px;
    font-weight: 400;
    line-height: 18px;
}

.buttons {
    display: grid;
    grid-template-columns: auto auto;
    margin: 48px auto 0 auto;
    width: fit-content;
}

.buttons.verify {
    grid-gap: 16px;
    grid-template-columns: auto;
    margin-top: 0;
    width: 100%;
}

.entry-item label[for="signInName"] {
    display: none;
}

.entry-item {
    margin-bottom: 16px;
}

.error {
    background: #FAE6E6;
    border-radius: 4px;
    border: 1px solid #F0BABA;
    margin-bottom: 16px;
    padding: 12px 8px 12px 36px;
    position: relative;
    width: 300px;
}

.error-icon {
    color: #D32F2F;
    font-size: 20px;
    font-weight: 400;
    left: 18px;
    line-height: 18px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.error.itemLevel {
    display: none;
}

.helpLink {
    display: none;
}

.info-item {
    display: list-item;
    margin-left: 24px;
}

.intro p {
    display: block;
    font-size: 28px;
    font-weight: 700;
    line-height: 40px;
    margin: 0;
    padding-top: 48px;
}

.intro {
    margin-bottom: 16px;
}

.intro::before {
    content: url("https://tomasurbanavicius.github.io/stormgeo-logo.png");
    left: 63px;
    position: relative;
    width: 250px;
}

.loading circle {
    animation: dash var(--spinner-duration) ease-in-out infinite;
    fill: none;
    stroke-dasharray: var(--spinner-offset);
    stroke-linecap: round;
    stroke-width: 6;
    stroke: #0e5df9;
    transform-origin: center;
}

.loading svg {
    animation: rotator var(--spinner-duration) linear infinite;
}

.loading {
    display: inline-block;
    height: var(--spinner-size);
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: var(--spinner-size);
}

.loading::before {
    content: url("https://tomasurbanavicius.github.io/stormgeo-logo.png");
    left: 50%;
    position: absolute;
    top: -20px;
    transform: translate(-50%, -50%);
}

.material-symbols-sharp {
    font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.password-info {
    margin-top: 16px;
}

.password-label label {
    display: none;
    margin-bottom: 48px;
}

.password-label {
    margin-top: 16px;
    text-align: center;
}

.username {
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    margin: 48px auto 0 auto;
    width: fit-content;
}

:root {
    --spinner-duration: 2400ms;
    --spinner-offset-min: 20;
    --spinner-offset: 145;
    --spinner-size: 65px;
}

@keyframes dash {
    0% {
        stroke-dashoffset: var(--spinner-offset);
    }
    50% {
        stroke-dashoffset: var(--spinner-offset-min);
        transform: rotate(135deg);
    }
    100% {
        stroke-dashoffset: var(--spinner-offset);
        transform: rotate(450deg);
    }
}

@keyframes rotator {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(270deg);
    }
}

body {
    background-attachment: fixed;
    background-image: url("https://tomasurbanavicius.github.io/background.jpg");
    background-size: cover;
    font-family: Open Sans, sans-serif;
    font-size: 13px;
    line-height: 20px;
}

button {
    border-radius: 4px;
    border: none;
    cursor: pointer;
    font-size: 13px;
    font-weight: 600;
    height: 54px;
    line-height: 20px;
    padding: 0 24px;
}

button[type="submit"] {
    background: #0E5DF9;
    color: white;
}

button[type="submit"]:hover {
    background: #0c4cc8;
}

div:has(> #email_intro) {
    margin-bottom: 16px;
}

input {
    border-radius: 4px;
    border: 1px solid #767676;
    height: 36px;
    padding: 0 8px;
    width: -webkit-fill-available;
}

li {
    display: block;
}

p {
    margin: 0;
}

ul {
    margin: 0;
    padding: 0;
}
