.material-symbols-sharp {
    font-variation-settings: 'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

body {
    background-image: url("https://tomasurbanavicius.github.io/background.jpg");
    background-size: cover;
    font-family: Open Sans, sans-serif;
}

#api {
    background: white;
    border-radius: 4px;
    left: 50%;
    padding: 48px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 470px;
}

.intro::before {
    content: url("https://tomasurbanavicius.github.io/stormgeo-logo.png");
    left: 110px;
    position: relative;
    width: 250px;
}

.intro p {
    padding-top: 16px;
    display: block;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
}

.TextBox {
    display: block;
}

ul {
    padding: 0;
}

#signInName_label {
    display: none;
}

input {
    width: -webkit-fill-available;
    height: 36px;
    border: 1px solid #767676;
    border-radius: 4px;
    padding: 0 8px;
}

.helpLink {
    display: none;
}

#cancel {
    display: none;
}

button {
    padding: 0 24px;
    border-radius: 4px;
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
    height: 54px;
}

button[type="submit"] {
    background: #0E5DF9;
    color: white;
    border-color: #0E5DF9;
}

button[type="submit"]:hover {
    background: #0c4cc8;
}

.buttons {
    margin: 0 auto;
    width: fit-content;
}

.entry-item {
    margin-bottom: 16px;
}

.entry-item label[for="signInName"] {
    display: none;
}

.password-label label {
    display: none;
}

.password-label {
    text-align: center;
    margin-top: 16px;
}

.username {
    width: fit-content;
    margin: auto;
    font-weight: 700;
    font-size: 16px;
    line-height: 24px;
}

#forgotPassword {
    font-weight: 600;
    font-size: 13px;
    line-height: 20px;
}

.back-button:hover {
    background: #f0f0f0;
}

.back-button {
    margin-right: 24px;
    color: #0E5DF9;
    background: white;
    border: none;
}

.back-icon {
    font-size: 20px;
    line-height: 18px;
    font-weight: 400;
}
