body {
    background-image: url("background.jpg");
    background-size: cover;
}

#api {
    background: white;
    left: 50%;
    padding: 16px;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 470px;
}
